<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CQU Volunteer Venture</name>
    <description>CQU Engage Services App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <!-- Allow access to any origin -->
<access origin="*" />
<!-- Allow WebView navigation to any URL -->
<allow-navigation href="*" />
<!-- Open all external links in the system browser -->
<allow-intent href="http://*/*" />
<allow-intent href="https://*/*" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Platform-specific icon elements -->
    <platform name="android">
        <icon src="www\css\img\VVIcon.png" />
    </platform>
</widget>
