    /* CUSTOM CSS WILL BE IN THIS FILE */
    /* CQU Brand Colours to use: 
    Navy #003768 
    LightBlue #6280A7
    Green #C1D82F 
    Background Grey #F6F6F4
    SubText Grey #7D7983 */
    
    .ui-select a.ui-btn,
    .ui-page {
        background-color: white !important;
        text-shadow: none;
    }
    
    .success_response {
        color: #198754;
    }
    
    .error_response {
        color: #DC4C64;
    }
    
    .response_message {
        text-align: center;
        font-size: 16px;
        text-shadow: none !important;
    }
    
    .ui-popup.vv_popup {
        background-color: white !important;
        border: none !important;
    }
    
    .filter-container {
        padding: 10px;
        width: 90%;
        margin: 0px auto;
    }
    
    .checkbox-holder .ui-checkbox input[type="checkbox"] {
        left: 0px !important;
    }
    
    .checkbox-holder {
        width: 15%;
    }
    
    .pagination {
        display: none;
        /* TO-DO add some styles to make better*/
    }
    
    .pagination a.active {
        background-color: #007BFF;
        color: white;
    }
    
    .my-table-container,
    #staff-services-table-container {
        max-width: 100%;
        overflow-x: auto;
        margin-top: 20px;
        /* Enable horizontal scrolling */
    }
    
    #tab-notification-page {
        height: 100%;
        width: 100%;
        text-align: center !important;
    }
    
    .volunteer-list-page {
        display: none;
        /* This feature is automated with server */
    }
    
    .my-table-container table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
    }
    
    th,
    td {
        padding: 5px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }
    
    .headers td {
        font-weight: bold;
    }
    
    @media (max-width: 320px) {
        .my-table-container table {
            font-size: 12px;
        }
    }
    
    @media screen and (min-width: 331px) {
        .my-table-container {
            padding: 10px;
            /* Adjust the padding value as needed */
        }
    }
    
    .err-msg {
        display: block;
        color: rgb(222, 21, 21);
    }
    
    .highlight {
        background-color: yellow;
    }
    
    .reset-pass-window {
        padding: 20px;
    }
    
    .ui-popup-container {
        z-index: 1100;
        display: inline-block;
        position: absolute;
        padding: 0;
        outline: 0;
        width: 75%;
        margin: 0px auto;
        left: 0 !important;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 80% !important;
    }
    
    .reset-pas-response {
        color: green;
        font-size: 16px;
    }
    
    body {
        font-family: 'Montserrat', sans-serif !important;
        font-family: 'Open Sans', sans-serif !important;
        font-family: 'Roboto', sans-serif !important;
    }
    
    h1.ui-title {
        color: #fff;
        font-size: 16px !important;
        text-shadow: none !important;
    }
    
    div.ui-header {
        background: #003768 !important;
    }
    /* Send message to volunteers */
    
    .selected_volunteer {
        display: inline-block;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        padding: 2.5px;
        padding-left: 7px;
        text-align: center;
    }
    
    .selected_vlntrs_heading {
        font-weight: bold;
        ;
    }
    /* Notifications list */
    
    .staff-notif p.sent-to-list {
        position: absolute;
        bottom: 7%;
    }
    
    .staff-notif p.notif-message {
        margin-bottom: 15%;
    }
    
    .each-notification {
        background: #fff;
        border-radius: 2px;
        display: block;
        padding: 10px;
        min-height: 100px;
        margin-bottom: 10px;
        position: relative;
        /* width: 95%; */
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        padding-top: 1%;
    }
    
    .sent-timedate {
        position: absolute;
        right: 10px;
        bottom: 5px;
    }
    
    .sent-by {
        position: absolute;
        left: 10px;
        bottom: 5px;
    }
    
    .notif-datetime,
    .notif-sentby {
        vertical-align: middle;
    }
    
    .notif-subject {
        font-weight: bold;
        font-size: 18px;
    }
    
    .notif-message {
        margin-bottom: 10%;
    }
    /* .no-notifications {
        width: 80%;
        margin: 0px auto;
        border-radius: 5px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        padding: 10px;
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    
    .no-notifications {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        text-align: center;
        width: 80%;
        margin: 0px auto;
        border-radius: 5px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    
    .no-notifications span.material-symbols-sharp {
        font-size: 50px;
    }
    
    label {
        font-weight: bold !important;
    }
    
    .button-group {
        display: flex;
        margin: 0px auto;
        margin-top: 20px;
    }
    
    .bg-child {
        display: inline-block;
    }
    
    .bg-child:first-of-type {
        margin-right: 15px !important;
    }
    /* Need to update icons */
    
    .ui-btn-icon-top:after {
        /* background-color: #fff !important; */
        /* TO SHOW THE ICONS ABOVE LINE MUST BE COMMENTED */
        /*background-image: url(./images/icons-36-black.png) !important;*/
    }
    
    .ui-popup {
        padding: 10px !important;
    }
    
    footer ul.ui-listview a.active {
        background-color: #C1D82F !important;
    }
    /* Logout Button */
    
    .signout-btn {
        background-color: #C1D82F !important;
        box-shadow: none !important;
        border: none !important;
        color: #003768 !important;
        text-shadow: none !important;
    }
    
    .refresh-notifications,
    .ui-btn[type="submit"],
    .signup-btn,
    .btn-cancel {
        width: 100px !important;
        background: #003768 !important;
        /*#536eb6 !important; */
        /*Similar color from wireframes */
        text-shadow: none !important;
        color: white !important;
        font-weight: normal !important;
        border: none !important;
        margin: 0px auto;
        padding: 8px !important;
    }
    
    .btn-cancel {
        background-color: #C1D82F!important;
        color: #003768 !important;
    }
    
    .signup-btn {
        background-color: #6280A7 !important;
        margin-top: 10px !important;
        width: 160px !important;
    }
    
    #signin-btn {
        width: 176px !important;
        margin-top: 30px !important;
    }
    
    .text-center {
        text-align: center;
    }
    
    .mainmsg {
        font-size: 18px;
        margin-top: 10px;
    }
    /* ALL TEXT BOXES */
    
    .ui-input-text input,
    .ui-input-search input {
        border: 1px solid #ccc !important;
        /* background: transparent none; */
        appearance: none;
        -webkit-border-radius: inherit;
        border-radius: 0px !important;
        padding: 8px !important;
    }
    
    .submsg {
        font-size: 14px;
        color: #7D7983;
    }
    /* fallback */
    
    @font-face {
        font-family: 'Material Symbols Sharp';
        font-style: normal;
        font-weight: 100 700;
        src: url(../fonts/material_icons.woff2) format('woff2');
    }
    
    .material-symbols-sharp {
        font-family: 'Material Symbols Sharp';
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        /* 24px default */
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        vertical-align: middle;
        font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
    }
    
    .material-symbols-sharp {
        font-variation-settings: 'FILL' 0, 'wght' 0, 'GRAD' 0, 'opsz' NaN
    }
    
    .cqu-image {
        display: flex;
        justify-content: center;
    }